html, body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}

.controls, .title.box {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal.box {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.leaflet-tooltip, .neighborhood-tooltip {
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    pointer-events: none;
}

.legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
}

.legend-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.legend-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.legend-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100px;
}

.legend-gradient {
    width: 20px;
    height: 100%;
    background: linear-gradient(to bottom, #E25701, #FF8615, #FFAF4D, #FFF0B9, #998EC3);
}

.legend-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
    width: 100px;
}

.legend-line-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
}

.legend-line {
    width: 20px;
    background-color: black;
}

.legend-line.thick {
    height: 10px;
}

.legend-line.medium {
    height: 7px;
}

.legend-line.thin {
    height: 3px;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.legend-item .legend-line {
    margin-right: 5px;
}

path.leaflet-interactive:focus {
    outline: none;
}

.info-box {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 2000;
    background: white;
    padding: 15px;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-box .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2000;
    background: #dcdcdc;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    align-self: flex-end;
    font-size: 1.5rem;
    line-height: 1;
}


.info-box .close-icon {
    width: 20px;
    height: 20px;
}

.info-box .street-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.info-box .final-score {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
}

.chart-tick-label {
    font-size: 0.8rem;
}

.chart-tick-stroke, .chart-pointer-stroke {
    stroke-width: 3;
}

#chart1 {
    height: 15vh;
}

#chart2 {
    height: 30vh;
}

#chart3 {
    height: 23vh;
}

.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.chart-section .chart-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.chart-section .chart-value {
    font-size: 1rem;
    margin-bottom: 10px;
}

.bar {
    fill: #96d4df;
}

.modal.is-active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-content {
    position: relative;
    z-index: 1001;
    max-width: 500px;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: none;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
}

.title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.box {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dcdcdc;
    color: white;
    margin-top: 0;
}

.button:hover {
    background-color: #b0dce3;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode .box, body.dark-mode .controls, body.dark-mode .info-box, body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.light-mode .box, body.light-mode .controls, body-light-mode .info-box, body-light-mode .modal-content {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode #map {
    background-color: #1e1e1e;
}

body.light-mode #map {
    background-color: #ffffff;
}

body.dark-mode .legend .legend-item .legend-line {
    background-color: grey;
}

body.light-mode .legend .legend-item .legend-line{
    background-color: #1e1e1e;
}

body.light-mode .chart-section {
    background-color: #ffffff;
}

body.dark-mode .chart-section {
    background-color: #1e1e1e;
}
body.dark-mode .chart-tick-label, body.dark-mode .chart-pointer-stroke {
    fill: #ffffff;
}
body.light-mode .chart-tick-label, body-light-mode .chart-pointer-stroke {
    fill: #1e1e1e;
}
body.light-mode .chart-tick-stroke, body.dark-mode .chart-pointer-stroke {
    stroke: #ffffff;
}
body.dark-mode .chart-tick-stroke, body.light-mode .chart-pointer-stroke {
    stroke: #1e1e1e;
}
.label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

.field {
    margin-bottom: 10px;
    margin-top: 10px;
}

.is-grouped {
    display: flex;
    align-items: center;
}

.control {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.is-expanded {
    flex-grow: 1;
}

.select {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.select select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button.is-primary {
    background-color: #00d1b2;
    color: white;
}

.button.is-primary:hover {
    background-color: #00b89c;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input {
    margin-right: 5px;
}

.show-cool-space {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.show-cool-space input {
    margin-right: 5px;
}

.info-button, .mode-button {
    height: 40px;
}

.mode-button {
    margin-right: 5px;
}

.button-icon {
    width: 20px;
    height: 20px;
}

.button-group {
    margin-left: auto;
    display: flex;
}

.reset-button {
    font-size: 1.1rem;
    font-weight: bold;
    height: 40px;
    width: 100%;
    color: black;
}

.got-it-button {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 20px;
    color: black;
}

#search-bar {
    margin-top: 5px;
    margin-right: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-button {
    margin-top: 5px;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #dcdcdc;
    color: black;
    cursor: pointer;
}

.search button:hover {
    background-color: #b0dce3;
}
