html, body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}

.controls, .info-box, .modal.box {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.controls {
    position: absolute;
    width: 270px;
    z-index: 1000;
    height: calc(100% - 20px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}

.controls .section {
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 5px;
}

.controls .section:last-child {
    border-bottom: none;
}

.control {
    align-items: center;
    display: flex;
    margin-bottom: 2px;
}

.info-box {
    bottom: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 330px;
    z-index: 2000;
}

.info-box .close-button {
    align-self: flex-end;
    background: #dcdcdc;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    padding: 5px 5px;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 2000;
}

.info-box .close-icon {
    height: 20px;
    width: 20px;
}

.info-box .street-name {
    font-size: 1rem;
    margin-bottom: 5px;
}

.info-box .final-score {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.chart-section {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.chart-section .chart-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.chart-section .chart-sub-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.chart-section .chart-value {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#chart2 {
    height: 30vh;
}

#chart3 {
    height: 20vh;
}

.bar {
    fill: #96d4df;
}

.chart-pointer-stroke {
    stroke-width: 2;
}

.chart-tick-label {
    font-size: 0.8rem;
}

.chart-gauge-tick-label {
    font-size: 0.6rem;
}

.leaflet-tooltip, .neighborhood-tooltip {
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px;
    pointer-events: none;
}

.legend {
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    padding: 10px;
    width: auto;
    margin-top: auto;
}

.legend-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.legend-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.8rem;
}

.legend-content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.legend-gradient {
    background: linear-gradient(to bottom, #FF6200, #FF9500, #FFAA00, #FFC300, #F1DDA0);
    height: 100%;
    width: 20px;
}

.legend-text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 10px;
    width: 100px;
}

.legend-line-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 10px;
}

.legend-line {
    background-color: black;
    width: 20px;
}

.legend-line.thick {
    height: 10px;
}

.legend-line.medium {
    height: 7px;
}

.legend-line.thin {
    height: 3px;
}

.legend-item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.legend-item .legend-line {
    margin-right: 5px;
}

path.leaflet-interactive:focus {
    outline: none;
}


.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.button {
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

.button:hover {
    background-color: #b0dce3;
}

.info-button, .mode-button {
    background-color: #dcdcdc;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    height: 35px;
    padding: 5px 10px;
}

#dark-mode-button {
    margin-right: 10px;
}

.info-button:hover, .mode-button:hover {
    background-color: #b0dce3;
}

.button-group {
    display: flex;
    margin-left: auto;
}

.button-icon {
    height: 18px;
    width: 18px;
}

.reset-button {
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    height: 35px;
    width: 100%;
    margin-top: 2px;
}

.got-it-button {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}

#search-bar {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
    width: 100%;
}

#search-button {
    background-color: #dcdcdc;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    height: 35px;
    padding: 5px 10px;
}

.search button:hover {
    background-color: #b0dce3;
}

#slider-container, #shade-slider-container, #pet-slider-container {
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 0;
    z-index: 1000;
    font-size: 0.8rem;
    margin-bottom: 5px;
    /* Reduce spacing between slider filters */
}

#slider-container input, #shade-slider-container input, #pet-slider-container input {
    width: 100%;
}

.label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
}

.field {
    margin-bottom: 2px;
    margin-top: 5px;
}

.is-grouped {
    align-items: center;
    display: flex;
}

.is-expanded {
    flex-grow: 1;
}

.select {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.select select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.checkbox {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
}

.checkbox input {
    margin-right: 5px;
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode .box, body.dark-mode .controls, body.dark-mode .info-box, body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.light-mode .box, body-light-mode .controls, body-light-mode .info-box, body-light-mode .modal-content {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode #map {
    background-color: #1e1e1e;
}

body.light-mode #map {
    background-color: #ffffff;
}

body.dark-mode .legend .legend-item .legend-line {
    background-color: grey;
}

body.light-mode .legend .legend-item .legend-line {
    background-color: #1e1e1e;
}

body.light-mode .chart-section {
    background-color: #ffffff;
}

body.dark-mode .chart-section {
    background-color: #1e1e1e;
}

body.dark-mode .chart-tick-label, body.dark-mode .chart-pointer-stroke {
    fill: #ffffff;
}

body.light-mode .chart-tick-label, body-light-mode .chart-pointer-stroke {
    fill: #1e1e1e;
}

body.light-mode .chart-tick-stroke, body.dark-mode .chart-pointer-stroke {
    stroke: #ffffff;
}

body.dark-mode .chart-tick-stroke, body.light-mode .chart-pointer-stroke {
    stroke: #1e1e1e;
}

.modal.is-active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal-content {
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 1001;
}

.modal-background {
    background-color: rgba(10, 10, 10, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}